{% extends "layout.html" %}
{% block content %}
<div style="height: 100%;" class="testimonial-section">
  <div class="inner-width">
    <h1>Schreib uns eine Mail!</h1>
    <br>
    <br>
    <br>

    <div class="testimonial-contents">
      <div class="testimonial active" id="test-1">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consequatur et adipisci
           ut, impedit cumque, similique, eum tenetur, numquam eligendi aliquid
          . Nulla sit, cupiditate corporis labore, modi natus officiis asperiores!</p>
        <img style="width: 60px;height: 60px;transform: rotate(45deg);" src="/static/img/kommunikation.png" alt="">
      </div>
      <span class="description">Dizz Web Applications</span>
  </div>
</div>
<div class="main">
  <div class="form-menu">
      <form class="form-mail" action="mailto:leopold.kink@live.de" method="post" enctype="text/plain">
        <div class="name-mail">
            <div class="form-group">
                <input name="Mail " type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
              </div>
            <div class="form-group">
                <input name="Name " type="name" class="form-control" id="exampleFormControlInput1" placeholder="Name">
            </div>
        </div>
        <div class="form-group">
          <textarea name="Projekt " style="resize: none;" class="form-control" id="exampleFormControlTextarea1" placeholder="Dein Projekt" rows="8"></textarea>
        </div>
        <div class="button-sumbit">
          <input class="mail-btn" type="submit" value="Projekt abschicken ->">
        </div>
      </form>
  </div>
  <div class="tech-slideshow">
    <div class="mover-1"></div>
    <div class="mover-2"></div>
  </div>
{% endblock content %}


