{% extends "layout.html" %} {% block content %}
<div class="team-main">
  <div style="height: 100%;" class="testimonial-section">
    <div class="inner-width">
      <h1>Projekte</h1>
      <br />
      <br />
      <br />

      <div class="testimonial-contents">
        <div class="testimonialactive" id="test-1">
          <p>
            Unsere Webpages sind einzigartig, Responsiv, Kreativ gestaltet und
            Benutzer freundlich. Sie schaffen es ihre Botschaft optimal an den
            Kunden zu vermitteln. Auch nach dem Fertigstellen der Website
            bleiben wir je nach Wunsch mit ihnen in Kontakt. Wir hosten ihren
            Server, kümmern uns um mögliche Upgrades und Verbesserungen. Bei
            Fragen oder wünschen stehen wir außerdem immer zur Verfügung
          </p>
          <img
            style="width: 60px; height: 60px; margin: 10px;"
            src="/static/img/interface.png"
            alt=""
          />
        </div>
        <span class="description">Dizz Web Applications</span>
      </div>
      <div class="arrow" id="projekttoparrow">
        <a href="#projekt-content-p"
          ><img src="/static/img/arrow.png" alt="" id="projekt-content-p"
        /></a>
      </div>
    </div>
    <div class="arrow" id="projektarrow">
      <a href="#projekt-content-a"
        ><img src="/static/img/arrow.png" alt="" id="projekt-content-a"
      /></a>
    </div>
    <div class="containerProjkt">
      <div class="Projektvoerstellung" id="projekt-content-0">
        <div class="ProjektIMG">
          <a href="https://www.heartsnotclubs.com/shop" target="_blank">
            <img
              src="/static/img/HNCPrijekt1.PNG"
              alt=""
              href="https://www.heartsnotclubs.com/"
              target="_blank"
            />
          </a>
        </div>
        <div class="ProjektText">
          <h3>
            Hearts Not Clubs <br /><span>Ein Online Shop vom feinsten</span>
          </h3>
          <p>
            Heats Not Clubs verkauft gehypte Mode an junge Münchner. Der online
            Shop ist individuell gestaltet und fully responsive. Er macht es dem
            Besitzer leicht neu Produkte ein zu stellen und Kunden Bestellungen
            nach zu vollziehen. Außerdem verfügt er über
            E-Mail-Benachrichtigungen und ein Login welches bestell daten
            speichert.
          </p>
          <button>
            <a href="https://www.heartsnotclubs.com/" target="_blank"
              >Have a look</a
            >
          </button>
        </div>
      </div>
    </div>

    <div class="Projektvoerstellung" id="projekt-content-1">
      <div class="ProjektIMG">
        <a href="https://www.heartsnotclubs.com/shop" target="_blank">
          <img
            src="/static/img/Fitnessprojek1.png"
            alt=""
            href="https://www.heartsnotclubs.com/"
            target="_blank"
          />
        </a>
      </div>
      <div class="ProjektText">
        <h3>FITNESS <br /><span>Teile dein Workouts mit Anderen</span></h3>
        <p>
          FITNESS ist eine Webseite für Sport interessierte. Auf der Webseite
          ist es jedem möglich workouts hoch zu laden um sie mit anderen zu
          teilen. Hoch geladen Workouts können dann von anderen nachgemacht und
          bewertet werden. Dem Admin ist es möglich alle Videos über ein
          anschauliches interface verwalten.
        </p>
        <button>
          <a href="https://www.heartsnotclubs.com/" target="_blank"
            >Have a look</a
          >
        </button>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
