{% extends "layout.html" %} {% block content %}
<div class="team-main">
    <div class="smiley">
      <div class="face">
        <div class="eyes">
          <div class="eye"></div>
          <div class="eye"></div>
        </div>
      </div>
    </div>

<div class="containerumallesrundherum">
    <div class="containerPro" id="projects">
        <div class="projectsheader">
            <h1>Unsere Klienten</h1>
        </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="/static/img/rndmimg5.png" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                    <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="/static/img/rndmimg3.png" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                        <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="/static/img/rndmimg4.jpg" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                        <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="http://placehold.it/1280x720" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                        <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="http://placehold.it/1280x720" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                        <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
            <div class="boxPro">
                <div class="imgBoxPro">
                    <img src="http://placehold.it/1280x720" alt="">
                </div>
                <div class="contentPro">
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem Ipsum dolor sit amet, consectetur adipisicing
                        elit , sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua</p>
                        <button><a href="https://www.bvb.de">Visit</a></button>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.querySelector("body").addEventListener("mousemove", eyeball);
        function eyeball() {
          var eye = document.querySelectorAll(".eye");
          eye.forEach(function (eye) {
            let x = eye.getBoundingClientRect().left + eye.clientWidth / 2;
            let y = eye.getBoundingClientRect().top + eye.clientHeight / 2;
            let radian = Math.atan2(event.pageX - x, event.pageY - y);
            let rot = radian * (180 / Math.PI) * -1 + 270;
            eye.style.transform = "rotate(" + rot + "deg)";
          });
        }
      </script>
</div>

{% endblock content %}