{% extends "layout.html" %} {% block content %}
<div class="team-main">
  <div style="height: 100%;" class="testimonial-section">
    <div class="inner-width">
      <h1>Projekte</h1>
      <br />
      <br />
      <br />

      <div class="testimonial-contents">
        <div class="testimonial active" id="test-1">
          <p>
            Wir bleiben auch nach dem Fertigstellen der Website je nach Wunsch
            auch mit ihnen in Kontakt. Wir hosten ihren Server, kümmern uns um
            mögliche Upgrades und verbesserungen und stehen immer zur Verfügen
            bei Fragen oder Wünschen.
          </p>
          <span class="description">Dizz Web Applications</span>
        </div>
      </div>
    </div>
    <div class="containerProjkt">
      <div class="Projektvoerstellung">
        <div class="ProjektIMG">
          <a href="https://www.heartsnotclubs.com/shop" target="_blank">
            <img
              src="/static/img/HNCPrijekt1inkartoon.PNG"
              alt=""
              href="https://www.heartsnotclubs.com/"
              target="_blank"
            />
          </a>
        </div>
        <div class="ProjektText">
          <h3>
            Hearts Not Clubs <br /><span>Ein Online shop fom feinsten</span>
          </h3>
          <p>
            Heats Not Clubs verkauft gehypte Mode an junge Münchner. Der online
            Shop ist individuell gestaltet und fully responsive er macht es dem
            Besitzer leicht neu Produkte ein zu stellen und Kunden Bestellungen
            nach zu vollziehen. Außerdem verfügt er über
            E-Mail-Benachrichtigungen und ein Login welches bestell daten
            speichert.
          </p>
          <button>
            <a href="https://www.heartsnotclubs.com/" target="_blank"
              >Have a look</a
            >
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}
</div>
