{% extends "layout.html" %} {% block content %}
<div class="team-main">
  <div class="smiley">
    <div class="face">
      <div class="eyes">
        <div class="eye"></div>
        <div class="eye"></div>
      </div>
    </div>
  </div>
  <div class="teamheader">
    <h1>UNSER TEAM</h1>
  </div>
  <div class="teamsup"><p>Wir sind Jung und Creativ</p></div>
  <div class="img-content">
    <div align="center">
      <div class="containerLeft">
        <img src="/static/img/test-person.jpg" alt="Avatar" class="imageLeft" />
        <div class="textonimage">
          <p>Desing & Frontend</p>
        </div>
        <div class="overlayLeft">
          <div class="textleft">
            <div class="name"><h1>Lorenz</h1></div>
            <div class="arbeit">
              <p>
                Ich mache des Frontend und Desing und gern auch mall ne kleine
                animation
              </p>
            </div>
            <div class="hobby">
              <p>
                In meiner freizeit Kletter, Skate oder Surfe ich gerne auch
                Kreative arbeit mag ich gern
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="containerRight">
        <img
          src="/static/img/Lorenz_Sport.JPG"
          alt="Avatar"
          class="imageRight"
        />
        <div class="overlayRight">
          <div class="textright">Right</div>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelector("body").addEventListener("mousemove", eyeball);
    function eyeball() {
      var eye = document.querySelectorAll(".eye");
      eye.forEach(function (eye) {
        let x = eye.getBoundingClientRect().left + eye.clientWidth / 2;
        let y = eye.getBoundingClientRect().top + eye.clientHeight / 2;
        let radian = Math.atan2(event.pageX - x, event.pageY - y);
        let rot = radian * (180 / Math.PI) * -1 + 270;
        eye.style.transform = "rotate(" + rot + "deg)";
      });
    }
  </script>
  {% endblock content %}
</div>
