{% extends "layout.html" %}
{% block content %}
<div class="body">
    <div class="container">
        <div class="box">
            <div class="icon">01</div>
            <div class="content">
                <h3>Webpage</h3>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sitLorem ipsum dolor sit
                </p>
                <a href="#web-pack-content-1">Read more</a>
            </div>
        </div>
        <div class="box">
            <div class="icon">02</div>
            <div class="content">
                <h3>Webpage + Handy App</h3>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sitLorem ipsum dolor sit
                </p>
                <a href="#web-pack-content-2">Read more</a>
            </div>
        </div>
        <div class="box">
            <div class="icon">03</div>
            <div class="content">
                <h3>E-Commerce</h3>
                <p>Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sit Lorem ipsum dolor sit
                    Lorem ipsum dolor sitLorem ipsum dolor sit
                </p>
                <a href="#web-pack-content-3">Read more</a>
            </div>
        </div>
    </div>
</div>
<div class="heading-webpack" id="web-pack-content-1"><h2>Deine eigene Website</h2></div>
<div class="webpack-content">
    <div class="container-webpack">
        <div class="slide-webpack">
            <div class="active"><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sit auu655zmet,cing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna</p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sit auu655zmet,cing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum duju6z5z5r sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorelor sit amet, consetetur sadip7566scing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
        </div>
        <div class="control">
            <h2 class="next">Next</h2>
            <h2 class="prev">Prev</h2>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.next').click(function(){
                $('.slide-webpack').find('div.active').next().addClass('active');
                $('.slide-webpack').find('div.active').prev().removeClass('active');
            })
            $('.prev').click(function(){
                $('.slide-webpack').find('div.active').prev().addClass('active');
                $('.slide-webpack').find('div.active').next().removeClass('active');
            })
        })
    </script>
</div>


<div class="heading-webpack" id="web-pack-content-2"><h2>Oder eine Website zusammen mit einer Handy App</h2></div>
<div class="webpack-content">
    <div class="container-webpack">
        <div class="slide-webpack">
            <div class="active2"><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sit ing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor s sadipscing elitr, sed diam nonumy eirmod dunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem  consipscing elitr, sed dd tempor invidunt ut labore et dolore magna </p></div>
        </div>


        <div class="control">
            <h2 class="next2">Next</h2>
            <h2 class="prev2">Prev</h2>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.next2').click(function(){
                $('.slide-webpack').find('div.active2').next().addClass('active2');
                $('.slide-webpack').find('div.active2').prev().removeClass('active2');
            })
            $('.prev2').click(function(){
                $('.slide-webpack').find('div.active2').prev().addClass('active2');
                $('.slide-webpack').find('div.active2').next().removeClass('active2');
            })
        })
    </script>
</div>

<div class="heading-webpack" id="web-pack-content-3"><h2>Einen Online Shop? Mit einer Shopping App</h2></div>
<div class="webpack-content">
    <div class="container-webpack">
        <div class="slide-webpack">
            <div class="active3"><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sit amet, truh5ru5z5z5consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolot5z5z5z55r sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum dolor sod tempor invidunt ut labore et dolore magna </p></div>
            <div><img src="/static/img/WHITE.png" alt=""><p>Lorem ipsum d </p></div>
        </div>
        <div class="control">
            <h2 class="next3">Next</h2>
            <h2 class="prev3">Prev</h2>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function(){
            $('.next3').click(function(){
                $('.slide-webpack').find('div.active3').next().addClass('active3');
                $('.slide-webpack').find('div.active3').prev().removeClass('active3');
            })
            $('.prev3').click(function(){
                $('.slide-webpack').find('div.active3').prev().addClass('active3');
                $('.slide-webpack').find('div.active3').next().removeClass('active3');
            })
        })
    </script>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
{% endblock content %}
