{% extends "layout.html" %}
{% block content %}
<div class="testimonial-section">
    <div class="inner-width">
      <h1>Unsere Angebote</h1>
      <br>
      <br>
      <br>
  
      <div class="testimonial-contents">
        <div class="testimonial active" id="test-1">
          <p>Wir erstellen ihnen je nach Wunsch und budget eine einzigartige und Kostengünstige Website oder Handy App.
              Unsere Leistungen sind vielfältig und bestehen darin ihnen die perfekte Website oder App zu erstellen, ihre Website zu verbessern oder Attraktiver zu machen oder eine Handy App zu ihrer Website zu entwerfen.
              Von Portfolios bis Online Shops versuchen wir ihnen das Richtige zu liefern. Wir freuen uns auf ihre Ideen.
          </p>
          <b>Alle Preise sind annäherungen und schwanken je nach Projekt</b>
          <br>
          <br>
          <span class="description">Upgrade / Website / App / Online Shop</span>
        </div>
    </div>
  </div>
  <div class="arrow" id="toparrow">
    <a href="#web-pack-content-0"><img src="/static/img/arrow.png" alt=""></a>
</div>
<div class="body-webpack" id="web-pack-content-0">
    <div class="container-webpack">
        <div class="imgBx-webpack">
            <img src="/static/img/edit.png" alt="">
        </div>
        <div class="details">
            <div class="content-webpack">
                <h2>Upgrade<br><span>
                    Neuer Look und Anpassung
                </span></h2>
                <p>Je nach Bedarf machen wir ihre Website anpassbar an jeden Browser und jedes Gerät.
                    Wenn gefragt verbessern außerdem den Look ihrer Website bauen zusätzliche Funktionalitäten ein und schmücken ihre Seite mit Animationen.
                    Egal wie ihre Website aktuell aussieht ist wir verbessern sie.
                    Unsere Upgrades erlauben es ihnen ihre Website leicher selbst zu bedienen und zu verwalten.
                </p>
                <br>
                <h3>30€-200€ </h3>
                <button><a href="/mail">Schreib uns!</a></button>
            </div>
        </div>
    </div>
</div>
<div class="arrow" >
    <a href="#web-pack-content-1"><img src="/static/img/arrow.png" alt="" ></a>
</div>



<div class="body-webpack" id="web-pack-content-1">
    <div class="container-webpack">
        <div class="imgBx-webpack">
            <img src="/static/img/web.png" alt="">
        </div>
        <div class="details">
            <div class="content-webpack">
                <h2>Deine Website<br><span>
                    Persöhnlich oder Geschäftlich
                </span></h2>
                <p>Wir erstellen ihnen ihre eigene Website. Ob simple oder komplex wir helfen ihnen ihre Idee umzusetzen.
                    Von mehrer Seiten und dutzenden Funktionen bis zu kleinen Portfolios unser Team stellt sicher, dass sie zufrieden sind.
                    Wir benutzen Frameworks wie React JS, oder simplere Seiten bauen wir mit HTML5 CSS3 und Javascript. Unser Backend schreiben wir in Python.
                </p>
                <br>
                <h3>50€-300€ </h3>
                <button><a href="/mail">Schreib uns!</a></button>
            </div>
        </div>
    </div>
</div>
<div class="arrow">
    <a href="#web-pack-content-2"><img src="/static/img/arrow.png" alt=""></a>
</div>

<div class="body-webpack" id="web-pack-content-2">
    <div class="container-webpack">
        <div class="imgBx-webpack">
            <img src="/static/img/tablet.png" alt="">
        </div>
        <div class="details">
            <div class="content-webpack">
                <h2>Deine App<br><span>
                    Passend zur Website
                </span></h2>
                <p>Zusammen mit einer neuen Website oder zusätzlich zu ihrer Seite bieten wir auch Handy Apps an.
                    Handy Apps sind vielseitig einsätzbar und können helfen eine bessere Verbindung zum Kunden herzustellen.
                    Ihre Handy App erweitert ihre Zielgruppe und bieten ihren Nutzern zusätzliche Sicherheit und mehr Bedienungsfreundlichkeit.
                    Um Handy Apps zu entwickeln benutzen wir Dart und die Flutter SDK.
                </p>
                <h3>500€-950€</h3>
                <button><a href="/mail">Schreib uns!</a></button>
            </div>
        </div>
    </div>
</div>
<div class="arrow">
    <a href="#web-pack-content-3"><img src="/static/img/arrow.png" alt=""></a>
</div>

<div class="body-webpack" id="web-pack-content-3">
    <div class="container-webpack">
        <div class="imgBx-webpack">
            <img src="/static/img/shop.png" alt="">
        </div>
        <div class="details">
            <div class="content-webpack">
                <h2>Online Shop<br><span>
                    Eigenes Online Buisness
                </span></h2>
                <p>Wir erstellen ihnen ihren eigenen Online Shop, der leicht bedien und verwaltbar ist. Wir liefern je nach Wunsch Server hosting und waartung.
                    Bei Fragen und Wünschen stehen wir ihnen immer zur Verfügung. Ein Online Shop steigert ihren Umsatz und bieten ihnen globalen Verkauf.
                    Unsere Shops sind benutzerfreundlich.
                </p>
                <h3>200€-700€</h3>
                <button><a href="/mail">Schreib uns!</a></button>
            </div>
        </div>
    </div>
</div>
<div class="arrow" style="transform: rotate(180deg);margin-top: 150px;">
    <a href="#web-pack-content-0"><img src="/static/img/arrow.png" alt=""></a>
</div>
{% endblock content %}
