.main {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-top: 50px;
  padding: 0;
  overflow: hidden;
  background: #fff;
  background-position: fixed;
  background-size: cover;
}
.form-menu {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.name-mail {
  display: flex;
  align-items: center;
  justify-content: center;
}
.name-mail .form-group {
  width: 300px;
  margin-inline-end: 1rem;
}
.form-group {
  margin-bottom: 1rem;
  width: 616px;
  transform: translateX(6px);
}
#mailarrow {
  transform: translateY(150px);
  margin-bottom: 270px;
}
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  font-size: 16px;
  color: #000000;
  background: transparent;
  background-clip: padding-box;
  border: 1px solid #000000;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 3px;
}

.form-control::-ms-expand {
  background-color: transparent;
  border: 0;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #000000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

.form-control::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.form-control::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.form-control::placeholder {
  color: #000;
  opacity: 1;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 2px);
}

select.form-control:focus::-ms-value {
  color: #495057;
  background-color: #fff;
}

.form-control-file,
.form-control-range {
  display: block;
  width: 100%;
}

/*  CAR  */
.car {
  position: relative;
  right: 300px;
  z-index: 10000;
  pointer-events: none;
}
.car img {
  animation-name: car;
  animation-duration: 26s;
  animation-iteration-count: infinite;
  z-index: 10000;
}

@keyframes car {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(4000px);
  }
}
.mail-btn {
  border: none;
  color: #fff;
  border: none;
  background-color: #ff96ca;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  transform: translateY(-6px);
  border-radius: 3px;
}
.mail-btn:hover {
  color: #000;
  background-color: #ffffff;
}
.button-sumbit {
  display: flex;
  width: 616px;
  transform: translateX(6px);
  align-items: center;
  justify-content: center;
}

/*   BACKGROUND  */
@media screen and (max-width: 1150px) {
  .main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #fff;
  }
  .form-menu {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    margin-left: 10%;
  }
  .form-mail {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .name-mail {
    width: 80%;
    display: block;
    float: left;
  }
  .name-mail .form-group {
    width: 100%;
    margin-inline-end: 1rem;
  }
  .form-group {
    margin-bottom: 1rem;
    width: 80%;
  }
  .button-sumbit {
    width: 80%;
  }
}

.tech-slideshow {
  height: 200px;
  max-width: 616px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(tets.jpg);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 20s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}

@keyframes moveSlideshow {
  100% {
    transform: translateX(-66.6666%);
  }
}
@media screen and (max-width: 1150px) {
  .tech-slideshow {
    margin-top: 60px;
  }
  .main {
    height: auto;
  }
}
