*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    position: relative;
    width: 100%;
    height: 100vh;
}
.section video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section .navigation{
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
.section .navigation li{
    list-style: none;
    cursor: pointer;
    margin: 0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.7;
    transition: 0.7;
}
.section .navigation li:hover{
    opacity: 1;
}
.section .navigation li img{
    width: 120px;
    transition: 0.5s;
}
.section .navigation li img:hover{
    width: 200px;
}
.section .box{
    color: #000;
    z-index: 1000;
    opacity: 0.7;
    margin: auto;
    transform: translateY(100px);
    min-height: 60%;
    width: 50%;
    position: relative;
    padding: 40px;
    background: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}